*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  list-style:none;
  text-decoration:none;
}
.head{
  width:100%;
  height:125px;
}
.foot{
 width:100%;
 height:360px;
}
.text::before{
  content:"";
  display:table; 
}
.nav{
  margin:15px 100px;
}
.nav a{
  color:black;
  font-size:18px;
}
.nav a:hover{
  color:red;
}